<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.dev.base.board.BoardDAO">
 	<insert id="setInsert" parameterType="BoardVO">
 		INSERT INTO BOARD (TITLE,CONTENTS,WRITER,REGDATE,HIT)
 		VALUES(#{title},#{contents},#{writer},now(),0)
 	</insert>
 	
 	 <insert id="setBoardFileAdd" parameterType="BoardFileVO">
 		INSERT INTO BOARDFILES (NUM, FILENAME,ORINAME)
 		VALUES(#{num}, #{fileName},#{oriName})
 	</insert>
 	
 	<select id="getStackList" resultType="StackVO">
 		select * from STACK
 	</select>
 </mapper>